<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Light Dress Bless</title>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&display=swap"rel="stylesheet">
    <link rel="stylesheet" href="/css/detail.css" />
  </head>

  <body>
    <main class="product">
      <section class="product-image">
        <img src="/storage/img/Library=Product2.png" alt="Light Dress Bless" />

        <button class="back-btn">
          <img src="/storage/img/Type=outline, Library=arrow-left.png" alt="Back" />
        </button>

        <button class="heart-btn">
          <img src="/storage/img/heart (1).png" alt="Favorite" />
        </button>
      </section>
      
      <section class="product-info">

        <div class="title-row">
          <h1>Light Dress Bless</h1>

          <div class="quantity">
            <button>-</button>
            <span>1</span>
            <button>+</button>
          </div>
        </div>

        <div class="rating">
          <span class="star">★</span>
          <span>5.0</span>
          <span class="reviews">(7,932 reviews)</span>
        </div>

        <p class="description">
          Its simple and elegant shape makes it perfect for those who want
          minimalist clothes.
          <strong>Read More...</strong>
        </p>

        <!-- OPTIONS -->
        <div class="options">

          <!-- SIZES -->
          <div class="sizes">
            <h4>Choose Size</h4>

            <div class="size-list">
              <button>S</button>
              <button>M</button>
              <button class="active">L</button>
              <button>XL</button>
            </div>
          </div>

          <!-- COLORS -->
          <div class="colors">
            <h4>Color</h4>

            <div class="color-list">
              <span class="gray-light"></span>
              <span class="gray-dark"></span>
              <span class="black"></span>
            </div>
          </div>

        </div>

      </section>

      <!-- ADD TO CART -->
      <button class="add-cart">
        <img src="/storage/img/Type=outline, Library=shopping-cart.png" alt="Cart" class="cart-icon" />
        Add to Cart | $162.99
        <span class="old-price">$190.99</span>
      </button>

    </main>
  </body>
</html>