<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PERFIL USUARIO</title>
    <link rel="stylesheet" href="/css/perfil-usuario.css">
</head>
<body>
    <h1>PAGINA DE PERFIL DE USUARIO</h1>
    <a href="/views/checkout.html"><button>BACK</button></a>
    <div class="arriba">
        <button>mensajes</button>
        <button>configuracion</button>
        <a href="/views/checkout.html"><button>pedidos</button></a>
        <div class="acercade-mi">
            <h2 class="informacion">INFORMACION</h2>
            <img src="/storage/img/jolhver.webp" alt="profesor">
            <input type="nombre" placeholder="nombre">
            <input type="email" placeholder="email">
        </div>
    </div>

</body>
</html>